html{
  background-color: black;
  color: white;
  font-family: "Palatino Linotype", sans-serif;
}

.header{
  background: url("./background.png");
  font-size: 50px;
  font-family: "Palatino Linotype";
  color:black !important;
}

.attack-modifier{
  width:15%;
  cursor: pointer;
  border: 1px solid beige;
}

.character{
  cursor:pointer;
  height:300px;
  width:200px;
  border-radius:25%;
  padding: 20px;
  border: 3px solid black;
}

.character-title{
  color:black;
  font-size: 35px;
  font-family: "Palatino Linotype";
  font-weight: bold;
  background: url("./background.png")
}

.cardSet{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.chooseCards, .hand{
  height:300px;
  width:200px;
  cursor: pointer;
  padding: 3px;
  border: 4px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

.level {
  padding-right: 50px;
}

.hand {
  padding:20px !important;
}

.character-selected{
  border-color: white;
}

.add-border{
  height:300px;
  width:200px;
  cursor: pointer;
  border-color: white !important;

}

.active-selected{
  height:300px;
  width:200px;
  cursor: pointer;
  border-color: red !important;
}

.discard-selected,
.lost-selected,
.must-lose{
  cursor: pointer;
  border-color: red !important;
}
.card-counter{
  background-color:cyan
  height:50px;
  width:50px;
  font-size:25px;
  color:white;
  font-weight:bold;
  text-align: center;
}

#play-game {
  color: white;
  font-size:25px;
}

#chosen-cards-title{
  padding:20px;
}
#active-cards-title {
  padding: 20px;
}
#discarded-cards-title {
  padding: 20px;
  }
#lost-cards-title {
  padding: 20px;
}
#hp-xp-loot, #play-area{
  width:1400px;
}

.card-in-play, .active-card{
  height:250px;
  width:167px;
  cursor: pointer;
  border: 2px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}


.discarded, .lost{
  height: 200px;
  width: 133px;
  cursor: pointer;
  border: 4px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

.hiding{
  display:none;
}
.visible{
  display:block;
}

#choose-to-lose{
  color:red;
}

.button {
  font-family: "Palatino Linotype";
  font-size: 20px;
  margin-top: 20px;
}

.status {
  width:40px;
  height:40px;
  border: 3px solid white;
}

#status-effects, #xp, #health, #bear-effects, #loot {
  border: 1px solid white;
}

 #xp, #health, #loot {
   min-width: 33%;
 }
#spacer{
  visibility:hidden;
  width:0px;
}

#bear-spacer{
  visibility:hidden;
  width:0px;
}

#level-counter{
  font-size:40px;
  color:white;
  font-family: "Palatino Linotype";
}

.active-tracker1,
.active-tracker2,
.active-tracker3,
.active-tracker4,
.active-tracker5,
.active-tracker6{
  width:100px;
  height:50px;
  cursor:pointer;
  border:1px solid black;
}

.bordered{
  border-color: white;
}

.invisible{
  visibility:hidden;
}

.button:hover{

}

.not-while-resting:hover,
.not-while-in-play:hover,
.not-without-more-cards:hover,
.not-without-more-selected:hover,
.not-unless-resting:hover,
.must-click-previous-tracker:hover,
.can-only-do-once:hover,
.at-max:hover,
.at-min:hover,
.poisoned:hover{
  cursor:not-allowed;
}

.not-while-resting,
.not-while-in-play,
.not-without-more-cards,
.not-without-more-selected,
.not-unless-resting,
.must-click-previous-tracker,
.can-only-do-once,
.at-max,
.at-min,
.poisoned{
  opacity:0.25;
}

.checkbox{
  border:1px solid white;
  display: inline;
  width:20px;
  height:20px;
  padding: 15px 15px;
  margin: 5px;
  cursor:pointer;
  background-color:black;
  box-sizing: border-box;
  font-size: 0px;
}

.perks p{
  display: inline;
  padding-left: 10px;
}

.perks div{
  line-height: 50px;
  text-align: left;
}

.checked {
  background: url("./perkCheck.png");
  background-size: contain;
  z-index: 1;
}

.perks {
  background: url("./background.png");
  font-size: 20px;
  font-weight: bold;
  width: 750px;
  padding:25px 0;
  color:black;
}

.discard-selected, .lost-selected{
width:200px;
height:300px;
transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

#zoomModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#zoomContent{
  background-color: #fefefe;
  margin: 90px auto 60px auto;
  padding:10px;
  border: 1px solid #888;
  width: 75%;
}

#used-modifier-cards img{
  width:100px;
  display: inline-block;
  padding: 10px;
}

.close {
    color: #aaa;
    float: right;
    top:0;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h6, #cardsInDeck{
  padding: 0;
  margin: 0;
}
