html{
  background-color: black;
}

.header{
  background-color: navy;
  font-size: 50px;
  font-family: "Palatino Linotype";
}

.character{
  cursor:pointer;
  height:300px;
  width:200px;
  border-radius:25%;
  padding: 20px;
  border: 3px solid black;
}

.character-title{
  color:white;
  font-size: 35px;
  font-family: "Palatino Linotype";
  font-weight: bold;
}

.cardSet{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.chooseCards, .hand{
  height:300px;
  width:200px;
  cursor: pointer;
  padding: 3px;
  border: 4px solid black;
}

.level {
  padding-right: 50px;
}

.hand {
  padding:20px !important;
}

.character-selected{
  border-color: white;
}

.add-border{
  height:300px;
  width:200px;
  cursor: pointer;
  border-color: white !important;

}

.active-selected{
  height:300px;
  width:200px;
  cursor: pointer;
  border-color: red !important;
}

.discard-selected,
.lost-selected,
.must-lose{
  cursor: pointer;
  border-color: red !important;
}
.card-counter{
  background-color:cyan
  height:50px;
  width:50px;
  font-size:25px;
  color:white;
  font-weight:bold;
  text-align: center;
}

#play-game {
  color: white;
  font-size:25px;
}

#chosen-cards-title{
  padding:20px;
}
#active-cards-title {
  padding: 20px;
}
#discarded-cards-title {
  padding: 20px;
  }
#lost-cards-title {
  padding: 20px;
}
.card-in-play, .active-card{
  height:250px;
  width:167px;
  cursor: pointer;
  border: 2px solid black;
}


.discarded, .lost{
  height: 200px;
  width: 133px;
  cursor: pointer;
  border: 4px solid black
}

.hiding{
  display:none;
}
.visible{
  display:block;
}

#choose-to-lose{
  color:red;
}

.button {
  font-family: "Palatino Linotype";
  font-size: 20px;
}

.status {
  width:40px;
  height:40px;
  border: 3px solid white;
}

#status-effects, #xp, #health {
  border: 1px solid white;
}

#spacer{
  visibility:hidden;
  width:0px;
}

#level-counter{
  font-size:40px;
  color:white;
  font-family: "Palatino Linotype";
}
